# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=6a370fb71126d7131efb7a28d0a66d29
#TRUSTED_PROXIES=127.0.0.1,127.0.0.2
#TRUSTED_HOSTS=localhost,example.com
###< symfony/framework-bundle ###

SMS_RECEIVER=+66666666666 # Your phone number
APPLICATION_KEY=myappkey
APPLICATION_SECRET=myappsecret
API_ENDPOINT=ovh-eu
CONSUMER_KEY=myconsumerkey
